html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    // background: $background-basic;
}

header {
    position: fixed;
    width: 100%;
    // background: $background-basic;
}

nav {
    // background: #fff;
    li {
        list-style: none;
        a{
            color: black;
            text-decoration: none;
        }
        
    }
}

footer {
    text-align: center;
    margin: 0 auto;
}

// Small devices
@mixin sm {
    @media (max-width: $breakpoint-sm) {
        @content;
    }
}

// Medium devices
@mixin md {
    @media (max-width: $breakpoint-md) {
        @content;
    }
}

// Large devices
@mixin lg {
    @media (max-width: $breakpoint-lg) {
        @content;
    }
}


// Extra large devices
@mixin xl {
    @media ( max-width: $breakpoint-xl) {
        @content;
    }
}

// Max large
@mixin xxl {
    @media ( max-width: $breakpoint-xxl) {
        @content;
    }
}