@import 'variable';
@import 'layout';
@import 'base';


@import 'modules/button';
@import 'modules/header';
@import 'modules/footer';
@import 'modules/main';
@import 'modules/home';
@import 'modules/nav';
@import 'modules/about';
@import 'modules/skill';
@import 'modules/contact';
@import 'modules/works';

@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";