// Colors:
$basic-color: #666B68;
$background-basic: #fafafa;
$basic-green: #4B735D;
$second-green: #9CDBB9;
$basic-red: #590C00;

// Font
$font-family-basic: 'Lato', sans-serif;


// Font-size:
$font-size-sm-basic: 16px;
$font-size-sm-big: 18px;

// Break Points:

$breakpoint-sm: 375px;

// Small tablets

$breakpoint-md: 768px;

// Tablets and small desktops

$breakpoint-lg: 1024px;

// Large tablets and desktops

$breakpoint-xl: 1440px;
