// Colors:
$basic-color: #666B68;
$background-basic: #fafafa;
$basic-green: #4B735D;
$basic-gold: #BFB378;
$basic-red: #590C00;

$btn-bg: #fafafa;
$btn-white: #fff;
$btn-black: #666B68;

// Font
$font-family-basic: 'Lato', sans-serif;
// $font-family-basic: hero-new,sans-serif;


// Font-size:
$font-size-sm-basic: 16px;
$font-size-sm-big: 18px;

// Break Points:

$breakpoint-sm: 375px;

// Small tablets

$breakpoint-md: 768px;

// Tablets and small desktops

$breakpoint-lg: 1024px;

// Large tablets and desktops

$breakpoint-xl: 1440px;

$breakpoint-xxl: 2000px;