#about {
    background: #fafafa;
    @include md {
        padding-top: 25px;
    }
    @include sm {
        padding-top: 30px;
    }
    h1 {
        font-size: 36px;
        font-weight: bold;
        padding: 5vh 0 10vh;
        @include xxl {
            padding: 5vh 0;
        }
        @include xl {
            padding: 5vh 0;
        }
        @include lg {
            font-size: 28px;
        }
        @include md {
            font-size: 28px;
            padding: 5vh 0;
        }
        @include sm {
            font-size: 24px;
            padding: 30px 0;
        }
    }
}

.about-all {
    margin-top: 100px;
    justify-content: space-evenly;
    @include sm {
        flex-direction: column;
        margin-top: 0;
    }
}

.about-left {
    width: 50%;
    @include lg {
        width: 100%;
    }
}

.about-title {
    color: $basic-color;
    padding: 10px 0;
    font-size: 36px;
    font-weight: bold;
    @include lg {
        margin-top: 50px;
        text-align: center;
    }
    @include md {
        margin-top: 50px;
        text-align: center;
    }
    @include sm {
        font-size: 24px;
    }
        p {
            @include sm {
                margin-top: 25px;
                font-size: 16px;
            }
        }
}

.about-role-name {
    color: $background-basic;
    background: $basic-color;
    width: 80%;
    padding: 15px;
    line-height: 1.5;
    h3 {
        font-size: 18px;
    }
    @include lg {
        text-align: center;
        margin: 20px auto;
        width: 300px;
    }
    @include md {
        text-align: center;
        margin: 20px auto;
        width: 300px;
    }
    @include sm {
        text-align: center;
        padding: 5px;
        line-height: 1.5;
    }
}


.about-title-p {
    color: $basic-color;
    font-size: 18px;
    width: 70%;
    margin-top: 10px;
    padding: 15px 0px;
    line-height: 1.8;
    i {
        margin-right: 5px;
    }
    @include lg {
        width: 55%;
        margin: 0 auto;
    }
    @include md {
        width: 70%;
        margin: 0 auto;
    }
    @include sm {
        width: 100%;
    }
}

.about-links {
    color: $basic-color;
    padding: 10px 0;
    font-size: 24px;

    @include lg {
        text-align: center;
    }

    @include md {
        text-align: center;
    }

    @include sm {
        font-size: 1.5rem;
        padding: 20px;
        display: flex;
        justify-content: center;
        // text-align-last: justify;
    }
        i {
            padding: 10px;
            color: $basic-color;
            transition: .7s;

            &:hover {
                color: $basic-gold;
                transform: scale(1.3);
            }

            &:visited {
                color: red; //　謎
            }
        }
}

.about-btns {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
    @include xl {
        padding: 10px 0;
    }
    @include lg {
        justify-content: center;
    }
    @include md {
        justify-content: center;
        margin: 20px 0 20px 20px;
    }
    @include sm {
        justify-content: center;
        flex-wrap: nowrap;
    }
}

.about-right {
    align-self: center;
}

.about-right-img {
    position: relative;
    img {
        z-index: 2;
        width: 380px;
        @include xl {
            width: 380px;
        }
        @include lg {
            display: none;
        }
        @include md {
            display: none;
        }
        @include sm {
            display: none;
        }
    }
}

.about-right-square {
    position: absolute;
    height: 230px;
    width: 330px;
    top: 160px;
    left: 160px;
    background-color: $basic-gold;
    z-index: -1;
    @include lg {
        display: none;
    }
    @include md {
        display: none;
    }
}

.about-mobile-img {
    display: none;
    @include lg {
        display: block;
        text-align: center;
        img {
            width: 350px;
            border: 20px solid #fff;
        }
    }
    @include md {
        display: block;
        text-align: center;
        img {
            width: 350px;
        }
    }
    @include sm {
        display: block;
        img {
            width: 250px;
        }
    }
}


/*==============================
           scroll
==============================*/

.scrollanime {opacity: 0;}
.fadeInDown {
    animation-name: fadeInDown;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-100px)
    }
    100% {
    opacity: 1;
    // transform: translate(0);
    transform: translateY(0);
    }
}

.updown {transform: translateY(-100px);}
.downup {transform: translateY(100px);}

.sect02{overflow: hidden;}
.slide-right {transform: translateX(200px);}
.slide-left {transform: translateX(-200px);}
