#about {
    height: 100vh;
    background: #fafafa;
    @include md {
        padding-top: 85px;
        // margin-top: 200px;
    }
    @include sm {
        padding-top: 85px;
        // padding-top: 5vh;
        // padding-bottom: 5vh;
    }
}

.about-all {
    // width: 50%;
}

.about-title {
    color: $basic-color;
    padding: 10px 5vw;
    font-size: 24px;
    font-weight: bold;
    @include md {
        margin-top: 50px;
    }
        p {
            @include sm {
                margin-top: 25px;
                font-size: 16px;
            }
        }
}

.about-title-p {
    color: $basic-color;
    padding: 10px 5vw;
    font-size: 18px;
}

.about-links {
    color: $basic-color;
    padding: 10px 5vw;
    font-size: 24px;
 
    @include sm {
        font-size: 1.5rem;
        padding: 20px;
        text-align-last: justify;
    }
        i {
            padding: 10px;
            color: $basic-color;

            &:hover {
                color: $second-green;
                transform: scale(1.3);
                transition: .7s;
            }

            &:visited {
                color: red; //　謎
            }
        }
}

.about-btns {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 5vw;
    @include xl {
        padding: 10px 5vw;
    }
    @include sm {
        justify-content: center;
        // flex-direction: column;
        flex-wrap: nowrap;
    }
}

.about-right-img {
    img {
        width: 500px;
    }
}

/*==============================
           scroll
==============================*/

/*1.フェードインアニメーションの指定*/
.scrollanime {opacity: 0;} /*一瞬表示されるのを防ぐ*/
.fadeInDown {
    animation-name: fadeInDown;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@keyframes fadeInDown {
    0% {
        opacity: 0;         
    }
    100% {
    opacity: 1;
    transform: translate(0);
    }
}
 
/*2.上下の動きを指定*/
.updown {transform: translateY(-100px);}
.downup {transform: translateY(100px);}
 
/*3.左右の動きを指定*/
.sect02{overflow: hidden;} /*横スクロールバーを隠す*/
.slide-right {transform: translateX(200px);}
.slide-left {transform: translateX(-200px);}