.btn-resume {
    button {
        font-weight: 200;
        // background: $basic-color;
        padding: 10px 15px;
        border-radius: 5px;
        border: 1px solid $basic-color;
        margin-right: 25px;
        // color: #fff;
            a {
                text-decoration: none;
                color: #fff;
            }
            &:hover {
                background: #fff;
                // color: $basic-color;
                transition: .7s;
                cursor: pointer;
                a {
                    color: $basic-color;
                }
            }
    }
}

.btn-send-msg {
    button {
        font-weight: 200;
        // background: $background-basic;
        padding: 10px 15px;
        border-radius: 5px;
        border: 1px solid #eaeaea;
        color: #eaeaea;
            a {
                text-decoration: none;
                color: #eaeaea;
            }
            &:hover {
                // background: $basic-color;
                // color: $background-basic;
                transition: .7s;
                cursor: pointer;
                color: $basic-color;
                a {
                    color: $basic-color;
                }
            }
    }
}

.btn-contactus {
    text-align: center;
    padding-top: 10px;
}

.btn-contact-form {
    outline: none;
    font-weight: 200;
    color: $background-basic;
    background: $basic-color;
    border-radius: 45px;
    border: 1px solid $basic-color;
    margin-bottom: 20px;
    cursor: pointer;
    @include xxl {
        padding: 15px 25px;
    }
    @include xl {
        padding: 15px 25px;
    }
    @include lg {
        padding: 10px 15px;
    }
    @include sm {
        padding: 10px 15px;
    }    
    
}