.btn-resume {
    button {
        font-weight: 200;
        background: $background-basic;
        padding: 10px 15px;
        border-radius: 45px;
        border: 1px solid $basic-color;
        margin-right: 25px;
        color: $basic-color;
            a {
                text-decoration: none;
                color: $basic-color;
            }
            &:hover {
                background: $basic-color;
                // color: $background-basic;
                transition: .7s;
                cursor: pointer;
                a {
                    color: $background-basic;
                }
            }
    }
}

.btn-send-msg {
    button {
        font-weight: 200;
        background: $background-basic;
        padding: 10px 15px;
        border-radius: 45px;
        border: 1px solid $basic-color;
        color: $basic-color;
            a {
                text-decoration: none;
                color: $basic-color;
            }
            &:hover {
                background: $basic-color;
                // color: $background-basic;
                transition: .7s;
                cursor: pointer;
                a {
                    color: $background-basic;
                }
            }
    }
}

.btn-contactus {
    text-align: center;
    padding-top: 10px;
}

.btn-contact-form {
    outline: none;
    font-weight: 200;
    color: $background-basic;
    background: $basic-color;
    border-radius: 45px;
    border: 1px solid $basic-color;
    margin-bottom: 20px;
    @include sm {
        padding: 10px 15px;
    }    
    
}