#contact {
    color: $basic-color;
    h1 {
        text-align: center;
        font-weight: bold;
        padding: 10px;

        @include xxl {
            font-size: 26px;
            padding-top: 160px;
        }

        @include xl {
            font-size: 24px;
            padding-top: 160px;
        }

        @include lg {
            font-size: 20px;
            padding-top: 160px;
        }

        @include md {
            font-size: 18px;
            padding-top: 150px;
        }

        @include sm {
            font-size: 18px;
            padding-top: 120px;
            // color: red;
        }
        
    }
}

.contact-form_group {
    font-family: $font-family-basic;

    @include xxl {
        padding: 20px 50px;
        width: 40%;
        margin: 0 auto;
    }

    @include xl {
        padding: 18px 50px;
        width: 40%;
        margin: 0 auto;
    }

    @include md {
        padding: 10px 50px;
    }

    @include sm {
        padding: 10px 30px;
        width: 60%;
        // background: red;
    }

    input {
        border: 1px solid $basic-color;
        border-radius: 5px;
        padding: 5px;
        font-family: $font-family-basic;
    }
}

.contact-label {
    padding-bottom: 5px;
}

.contact-form_message {
    border: 1px solid $basic-color;
    border-radius: 5px;
    padding: 5px;
    font-family: $font-family-basic;
}