#contact {
    color: $basic-color;
    padding: 50px;
    h1 {
        text-align: center;
        font-weight: bold;
        padding: 10px;
        font-size: 36px;

        @include xxl {
            font-size: 36px;
            padding-top: 160px;
        }

        @include xl {
            font-size: 36px;
            padding-top: 160px;
        }

        @include lg {
            font-size: 20px;
            padding-top: 160px;
        }

        @include md {
            font-size: 28px;
            // padding-top: 150px;
        }

        @include sm {
            font-size: 24px;
            padding-top: 120px;
            // color: red;
        }
        
    }
    p {
        text-align: center;
        font-size: 48px;
        @include md {
            font-size: 24px;
        }
        @include sm {
            font-size: 18px;
        }
        a {
            color: $basic-color;
            text-decoration: none;
            transition: .8s;
            &:hover {
                color: $basic-gold;
            }
        }
    }
}

// .contact-form_group {
//     font-family: $font-family-basic;

//     @include xxl {
//         padding: 20px 50px;
//         width: 40%;
//         margin: 0 auto;
//     }

//     @include xl {
//         padding: 18px 50px;
//         width: 40%;
//         margin: 0 auto;
//     }

//     @include md {
//         padding: 10px 50px;
//     }

//     @include sm {
//         padding: 10px 30px;
//         width: 60%;
//         // background: red;
//     }

//     input {
//         border: 1px solid $basic-color;
//         border-radius: 5px;
//         padding: 5px;
//         font-family: $font-family-basic;
//     }
// }

// .contact-label {
//     padding-bottom: 5px;
// }

// .contact-form_message {
//     border: 1px solid $basic-color;
//     border-radius: 5px;
//     padding: 5px;
//     font-family: $font-family-basic;
// }

// .contact-btn {
//     padding: 20px 40px;
//     background: none;
//     border: none;
//     position: relative;
//     text-transform: uppercase;
//     font-weight: bold;
//     letter-spacing: 3px;
//     cursor: pointer;
//     &:after, &:before {
//         content: "";
//         position: absolute;
//         top: 0;
//         left: 0;
//         bottom: 0;
//         right: 0;
//         border: 2px solid $basic-color;
//         transition: transform .2s;
//     &:after {
//         transform: translate(3px, 3px);
//     }
//     &:before {
//         transform: translate(-3px, -3px);
//     }
//     &:hover {
//         &:after, &:before {
//             transform: translate(0);
//         }
//     }
//     }
// }

.contact-div-button {
    text-align: center;
    padding: 50px;
    @include sm {
        padding: 5px;
    }
}

.contact-btn {
    color: $basic-color;
    font-family: $font-family-basic;
    // font-size: 20px;
    padding: 20px 40px;
    background: none;
    border: none;
    position: relative;
    // text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    justify-self: center;
    a {
        text-decoration: none;
        color: $basic-color;
        z-index: 3;
    }
    @include sm {
        padding: 24px 26px;
        font-size: 16px;
        margin: 20px auto;
    }
    cursor: pointer;
    &:after, &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border: 2px solid $basic-color;
        transition: transform .2s;
}
     &:after {
       transform: translate(3px, 3px);
}
     &:before {
       transform: translate(-3px, -3px);
}    &:hover {
       &:after, &:before {
         transform: translate(0);
}
    }
}