header {
    .icon {
        @include md {
            padding: 10px;
        }
        @include sm {
            padding: 10px;
        }
        img {
            width: 40px;
            height: 60px;
            margin-left: 30px;
            cursor: pointer;
            @include md {
                padding: 10px;
            }
            @include sm {
                // width: 100px;
                // height: 45px;
                margin-left: 10px;
        }
        }
    }
}

.header-laptop {
    padding: 10px;
    background: #fff;
    opacity: 0.8;
    width: 100vw;
    @include lg {
        display: block;
    }
    @include md {
        display: none;
    }
    @include sm {
        display: none;
    }
}

.header-tablet {
    background: #fff;
    // @include xl {
    //     display: none;
    // }

    @include md {
        justify-content: space-between;
        width: 100%;
    }

    @include sm {
        justify-content: space-between;
        width: 100%;
    }
}
