#home {
  padding: 5vh 10vw;
  height: 100vh;
  // display: flex;
  // align-items: center;
  @include md {
    // margin-top: 100px;
  }
  @include sm {
    padding: 5vh 10vw;
  }
}

// svg {
//   width: 300px;
//   height: 550px;
//   display: none;
// }

// Music Player

