#main {
    margin-top: 100px;

    @include xxl {
        height: 100vh;
    }

    @include xl {
        height: 100vh;
    }
    
    @include lg {
        height: 100vh;
    }
    @include md {
        height: 100vh;
    }
    @include sm {
        height: 100vh
    }
}

.main-desc-img {
    width: 100%;
    @include md {
        text-align: center;
    }
    @include sm {
        align-content: center;
    }
    // height: 100vh;
    // justify-content: center;
    // align-content: center;
    // align-items: center;
}

.main-img {
    width: 40%;
    // height: 100%;
    text-align: center;
    padding-left: 150px;
    padding-top: 200px;
    // align-self: flex-end;
    // align-self: center;
    // align-content: center;
    // padding: 50px;
    @include md {
        display: none;
    }
    img {
        width: 400px;
        height: 400px;
        @include lg {
            width: 300px;
            height: 300px;
        }
        // padding-left: 100px;
        // text-align: center;
    }
}

// .main-img {
//     text-align: center;
//     padding-top: 15px;
//     img {

//         @include xxl {
//             height: 500px;
//             // width: 100%;
//         }

//         @include xl {
//             height: 55%;
//             width: 100%;
//         }
//         @include lg {
//             height: 50%;
//             width: 100%;
//         }
//         @include md {
//             height: 100%;
//             width: 100%;
//         }
//         @include sm {
//             height: 100%;
//             width: 100%;
//         }
//     }

// }

.main-desc-p {
    padding-left: 5vw;
    font-size: 24px;
    line-height: 1.7;
    color: $basic-color;
    
    // font-family: futura-pt,sans-serif;
    // font-weight: 300;
    // font-style: italic;
    font-family: futura-pt,sans-serif;
    font-weight: 700;
    font-style: normal;
    @include xxl {
        font-size: 48px;
    }
    @include md {
        line-height: 1.5;
        font-weight: bold;
    }
    @include sm {
        padding-left: 0px;
        font-size: 32px;
        line-height: 1.5;
        font-weight: bold;
        text-align: left;
        // color: #fff;
        //     -webkit-text-stroke: 1px $basic-color;
        //     text-stroke: 1px $basic-color;
        // height: 100%;
        // color: $basic-color;
    }
        span {
            color: #fff;
            -webkit-text-stroke: 1px $basic-color;
            // text-stroke: 1px $basic-color;
            @include sm {
                color: $basic-color;
                -webkit-text-stroke: none;
            }
        }
}

.main-desc-second {
    // font-family: futura-pt,sans-serif;
    // font-weight: 300;
    // font-style: italic;
    font-family: futura-pt,sans-serif;
    font-weight: 700;
    font-style: normal;
    padding-right: 5vw;
    font-size: 24px;
    line-height: 1.7;
    color: $basic-color;
    text-align: end;
    // padding-: ;
    // width: 100vw;
    @include md {
        margin-top: 50px;
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        padding: 0;
    }
    @include sm {
        // line-height: 1.5;
        // margin-top: 50px;
        // padding-bottom: 50px;
        font-weight: bold;
        // width: 200px;
        font-size: 24px;
        text-align: center;
        padding-top: 50px;
    }
    span {
        display: none;
        @include md {
            display: inline-block;
        }
        @include sm {
            display: inline-block;
        }
    }
}

@keyframes main-slideInRight {
    from {
        opacity: 0;
        transform: translateX(150px);
      }
      
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }
    
    .main-slideInRight {
      animation-name: main-slideInRight;
      animation-duration: 1s;
      animation-timing-function: ease-out;
    }
    
    #keyvisual {
      overflow: hidden
    }

@keyframes main-slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-150px);
        }
        
        to {
        opacity: 1;
        transform: translateX(0);
        }
    }
    
    .main-slideInLeft {
        animation-name: main-slideInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }
    
    #keyvisual {
        overflow: hidden
    }
    
    // ityped

    .ityped-cursor {
        font-size: 1em;
        opacity: 1;
        -webkit-animation: blink 0.3s infinite;
        -moz-animation: blink 0.3s infinite;
        animation: blink 0.3s infinite;
        animation-direction: alternate;
    }
    
    @keyframes blink {
        100% {
            opacity: 0;
        }
    }
    
    @-webkit-keyframes blink {
        100% {
            opacity: 0;
        }
    }
    
    @-moz-keyframes blink {
        100% {
            opacity: 0;
        }
    }

    // music player

    // *:focus
    // {
    //     outline: none;
    // }
    
    // body
    // {
    //     font-family: Helvetica, Arial;
    //     margin: 0;
    //     background-color: #ffeff5;
    // }

    .music-player-all {
        // width: 100%;
        // background: #000;
        // color: red;
    }
    
    #app-cover
    {
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        // width: 50%;
        width: 430px;
        height: 100px;
        padding: 50px;
        margin: 10px 0px 10px 180px;
        // background-color: #000;
        // margin: 50px auto;
        // margin: -4px auto;
        @include md {
            display: none;
            // margin: 100px auto;
            // width: 350px;
        }

        @include sm {
            // width: 250px;
            // height: 80px;
        }
    }
    
    // #bg-artwork
    // {
    //     position: fixed;
    //     top: -30px;
    //     right: -30px;
    //     bottom: -30px;
    //     left: -30px;
    //     background-image: url("https://raw.githubusercontent.com/himalayasingh/music-player-1/master/img/_1.jpg");
    //     background-repeat: no-repeat;
    //     background-size: cover;
    //     background-position: 50%;
    //     filter: blur(40px);
    //     -webkit-filter: blur(40px);
    //     z-index: 1;
    // }
    
    // #bg-layer
    // {
    //     position: fixed;
    //     top: 0;
    //     right: 0;
    //     bottom: 0;
    //     left: 0;
    //     background-color: #fff;
    //     opacity: 0.51;
    //     z-index: 2;
    // }
    
    #music-player
    {
        position: relative;
        height: 100%;
        z-index: 3;
    }
    
    #player-track
    {
        position: absolute;
        top: 0;
        right: 15px;
        left: 15px;
        padding: 32px 24px 8px 160px;
        // padding: 13px 22px 10px 184px;
        // background-color: #fff7f7;
        border-radius: 15px 15px 0 0;
        transition: 0.3s ease top;
        z-index: 1;
        @include sm {
            padding: 24px 24px 8px 80px;
        }
    }
    
    #player-track.active
    {
        top: -92px;
    }
    
    #album-name
    {
        color: $basic-color;
        font-size: 16px;
        font-weight: bold;
    }
    
    #track-name
    {
        color: #acaebd;
        font-size: 13px;
        margin: 0 0 5px 0;
        // margin: 2px 0 13px 0;
    }
    
    #track-time
    {
        height: 12px;
        margin-bottom: 3px;
        overflow: hidden;
    }
    
    #current-time
    {
        float: left;
    }
    
    #track-length
    {
        float: right;
    }
    
    #current-time, #track-length
    {
        color: transparent;
        font-size: 11px;
        // background-color: #ffe8ee;
        border-radius: 10px;
        transition: 0.3s ease all;
    }
    
    #track-time.active #current-time, #track-time.active #track-length
    {
        color: $basic-color;
        background-color: transparent;
    }
    
    #s-area, #seek-bar
    {
        position: relative;
        height: 4px;
        border-radius: 4px;
    }
    
    #s-area
    {
        background-color: $basic-color;
        cursor: pointer;
    }
    
    #ins-time
    {
        position: absolute;
        top: -29px;
        color: #fff;
        font-size: 12px;
        white-space: pre;
        padding: 5px 6px;
        border-radius: 4px;
        display:none;
    }
    
    #s-hover
    {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        opacity: 0.2;
        z-index: 2;
    }
    
    #ins-time, #s-hover
    {
        background-color: #3b3d50;
    }
    
    #seek-bar
    {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 0;
        background-color: $second-green;
        transition: 0.2s ease width;
        z-index: 1;
    }
    
    #player-content
    {
        position: relative;
        height: 100%;
        background-color: $basic-color;
        // box-shadow: 0 30px 80px #656565;
        border: 1px solid $basic-color;
        border-radius: 15px;
        z-index: 2;
    }
    
    #album-art
    {
        position: absolute;
        top: -40px;
        width: 115px;
        height: 115px;
        margin-left: 40px;
        transform: rotateZ(0);
        transition: 0.3s ease all;
        box-shadow: 0 0 0 10px #fff;
        border-radius: 50%;
        overflow: hidden;
        @include sm {
            width: 60px;
            height: 60px;
            margin-left: 20px;
            box-shadow: 0 0 0 2px #fff;
            top: -32px;
        }
    }
    
    #album-art.active
    {
        top: -60px;
        box-shadow: 0 0 0 4px #fff, 0 30px 50px -15px #afb7c1;
    }
    
    #album-art:before
    {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        width: 20px;
        height: 20px;
        margin: -10px auto 0 auto;
        background-color: $background-basic;
        border-radius: 50%;
        // box-shadow: inset 0 0 0 2px #fff;
        z-index: 2;
    }
    
    #album-art img
    {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: -1;
    }
    
    #album-art img.active
    {
        opacity: 1;
        z-index: 1;
    }
    
    #album-art.active img.active
    {
        z-index: 1;
        animation: rotateAlbumArt 3s linear 0s infinite forwards;
    }
    
    @keyframes rotateAlbumArt
    {
        0%{ transform: rotateZ(0); }
        100%{ transform: rotateZ(360deg); }
    }
    
    #buffer-box
    {
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        height: 13px;
        color: #1f1f1f;
        font-size: 13px;
        font-family: Helvetica;
        text-align: center;
        font-weight: bold;
        line-height: 1;
        padding: 6px;
        margin: -12px auto 0 auto;
        background-color: rgba(255, 255, 255, 0.19);
        opacity: 0;
        z-index: 2;
    }
    
    #album-art img, #buffer-box
    {
        transition: 0.1s linear all;
    }
    
    #album-art.buffering img
    {
        opacity: 0.25;
    }
    
    #album-art.buffering img.active
    {
        opacity: 0.8;
        filter: blur(2px);
        -webkit-filter: blur(2px);
    }
    
    #album-art.buffering #buffer-box
    {
        opacity: 1;
    }
    
    #player-controls
    {
        width: 240px;
        height: 100%;
        margin: 10px 0;
        // margin: 0 5px 0 141px;
        float: right;
        overflow: hidden;
        @include sm {
            width: 160px;

        }
    }
    
    .control
    {
        width: 33.333%;
        float: left;
        padding: 12px 0;
    }
    
    .music-player-button
    {
        width: 21px;
        height: 21px;
        padding: 15px;
        background-color: #fff;
        // background-color: $basic-color;
        border-radius: 6px;
        cursor: pointer;
        @include sm {
            width: 15px;
            height: 15px;
            padding: 10px;
        }
    }
    
    .music-player-button i
    {
        display: block;
        color: $basic-color;
        font-size: 20px;
        text-align: center;
        line-height: 1;
        @include sm {
            font-size: 16px;
        }
    }
    
    .music-player-button, .music-player-button i
    {
        transition: 0.2s ease all;
    }
    
    .music-player-button:hover
    {
        background-color: #d6d6de;
    }
    
    .music-player-button:hover i
    {
        color: #fff;
    }
    
    #ytd-url {
      display: block;
      position: fixed;
      right: 0;
      bottom: 0;
      padding: 10px 14px;
      margin: 20px;
      color: #fff;
      font-size: 14px;
      text-decoration: none;
      background-color: #ae5f87;
      border-radius: 4px;
      box-shadow: 0 10px 20px -5px rgba(174, 95, 135, 0.86);
      z-index: 125;
    }