#main {
    margin-top: 100px;

    @include xxl {
        height: 100vh;
    }

    @include xl {
        height: 100vh;
    }
    
    @include lg {
        height: 100vh;
    }
    @include md {
        height: 100vh;
    }
    @include sm {
        height: 250px;
    }
}

.main-img {
    text-align: center;
    padding-top: 5vh;
    img {
        height: 500px;

        @include xxl {
            height: 100%;
            width: 100%;
        }

        @include xl {
            height: 100%;
            width: 100%;
        }
        @include lg {
            height: 100%;
            width: 100%;
        }
        @include md {
            height: 100%;
            width: 100%;
        }
        @include sm {
            height: 100%;
            width: 100%;
        }
    }

}

.main-desc-p {
    padding-left: 5vw;
    font-size: 24px;
    line-height: 1.7;
    color: $basic-color;
    @include sm {
        line-height: 1.5;
        font-weight: bold;
        // color: $basic-color;
    }
}