#main {
    margin-top: 100px;

    @include xxl {
        height: 100vh;
    }

    @include xl {
        height: 100vh;
    }
    
    @include lg {
        height: 100vh;
    }
    @include md {
        height: 100vh;
    }
    @include sm {
        height: 100vh
    }
}

.main-desc-img {
    width: 100%;
    @include sm {
        align-content: center;
    }
    // height: 100vh;
    // justify-content: center;
    // align-content: center;
    // align-items: center;
}

.main-img {
    width: 40%;
    // height: 100%;
    text-align: center;
    padding-left: 150px;
    padding-top: 200px;
    // align-self: flex-end;
    // align-self: center;
    // align-content: center;
    // padding: 50px;
    @include md {
        display: none;
    }
    img {
        width: 400px;
        height: 400px;
        @include lg {
            width: 300px;
            height: 300px;
        }
        // padding-left: 100px;
        // text-align: center;
    }
}

// .main-img {
//     text-align: center;
//     padding-top: 15px;
//     img {

//         @include xxl {
//             height: 500px;
//             // width: 100%;
//         }

//         @include xl {
//             height: 55%;
//             width: 100%;
//         }
//         @include lg {
//             height: 50%;
//             width: 100%;
//         }
//         @include md {
//             height: 100%;
//             width: 100%;
//         }
//         @include sm {
//             height: 100%;
//             width: 100%;
//         }
//     }

// }

.main-desc-p {
    padding-left: 5vw;
    font-size: 24px;
    line-height: 1.7;
    color: $basic-color;
    
    // font-family: futura-pt,sans-serif;
    // font-weight: 300;
    // font-style: italic;
    font-family: futura-pt,sans-serif;
    font-weight: 700;
    font-style: normal;
    @include xxl {
        font-size: 48px;
    }
    @include md {
        line-height: 1.5;
        font-weight: bold;
    }
    @include sm {
        padding-left: 0px;
        font-size: 32px;
        line-height: 1.5;
        font-weight: bold;
        text-align: left;
        // color: #fff;
        //     -webkit-text-stroke: 1px $basic-color;
        //     text-stroke: 1px $basic-color;
        // height: 100%;
        // color: $basic-color;
    }
        span {
            color: #fff;
            -webkit-text-stroke: 1px $basic-color;
            text-stroke: 1px $basic-color;
            @include sm {
                color: $basic-color;
                -webkit-text-stroke: none;
            }
        }
}

.main-desc-second {
    // font-family: futura-pt,sans-serif;
    // font-weight: 300;
    // font-style: italic;
    font-family: futura-pt,sans-serif;
    font-weight: 700;
    font-style: normal;
    padding-right: 5vw;
    font-size: 24px;
    line-height: 1.7;
    color: $basic-color;
    text-align: end;
    // padding-: ;
    // width: 100vw;
    @include md {
        margin-top: 50px;
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        padding: 0;
    }
    @include sm {
        // line-height: 1.5;
        // margin-top: 50px;
        // padding-bottom: 50px;
        font-weight: bold;
        // width: 200px;
        font-size: 24px;
        text-align: center;
        padding-top: 50px;
    }
    span {
        display: none;
        @include md {
            display: inline-block;
        }
        @include sm {
            display: inline-block;
        }
    }
}

@keyframes main-slideInRight {
    from {
        opacity: 0;
        transform: translateX(150px);
      }
      
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }
    
    .main-slideInRight {
      animation-name: main-slideInRight;
      animation-duration: 1s;
      animation-timing-function: ease-out;
    }
    
    #keyvisual {
      overflow: hidden
    }

@keyframes main-slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-150px);
        }
        
        to {
        opacity: 1;
        transform: translateX(0);
        }
    }
    
    .main-slideInLeft {
        animation-name: main-slideInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }
    
    #keyvisual {
        overflow: hidden
    }
    
    // ityped

    .ityped-cursor {
        font-size: 1em;
        opacity: 1;
        -webkit-animation: blink 0.3s infinite;
        -moz-animation: blink 0.3s infinite;
        animation: blink 0.3s infinite;
        animation-direction: alternate;
    }
    
    @keyframes blink {
        100% {
            opacity: 0;
        }
    }
    
    @-webkit-keyframes blink {
        100% {
            opacity: 0;
        }
    }
    
    @-moz-keyframes blink {
        100% {
            opacity: 0;
        }
    }