.nav-laptop {
    // // height: 100px;
    // width: 100vw;
    // align-items: center;
    // justify-content: center;
    // // background: $background-basic;
    // justify-content: space-around;

    // @include xl {
    //   // display: block;
    //   width: 100vw;
    //   align-items: center;
    //   justify-content: center;
    // }

    // @include lg {
    //     // display: block;
    //     width: 100vw;
    //     align-items: center;
    //     justify-content: center;
    // }

    // @include md {
    //     display: none;
    // }

    // @include sm {
    //     display: none;
    // }
    // a {
    //     padding: 10px;
    //     color: $basic-color;
    //     cursor: pointer;
    // }
}

#nav-laptop-header {
  // height: 100px;
  width: 100vw;
  align-items: center;
  justify-content: center;
  // background: $background-basic;
  justify-content: space-around;
  // background: red;

  @include xl {
    // display: block;
    width: 100vw;
    align-items: center;
    justify-content: center;
  }

  @include lg {
      // display: block;
      width: 100vw;
      align-items: center;
      justify-content: center;
  }

  @include md {
      display: none;
  }

  @include sm {
      display: none;
  }
  a {
      padding: 10px;
      color: $basic-color;
      cursor: pointer;
  }
}

// .nav-laptop-logo {
//   padding-top: 15px;
//   width: 200px;
//   height: 80px;
// }

#nav-laptop-logo {
  display: inline-block;
  padding-top: 15px;
  width: 200px;
  height: 80px;
  transition: all 0.3s;
}

.is-scrolled-logo {
  display: inline-block;
  width: 100px;
  height: 40px;
  // background:red;
}

.nav-second {
    display: none;

    @include lg {
      display: none;
    }

    @include md {
        display: block;
        // align-self: center;
        margin: 35px;
        text-align: end;
    }
    @include sm {
        // padding-top: 50px;
        // padding-left: 230px;

        // align-self: center;
        // display: block;
        // margin: 25px;

        // margin: 0 auto;
        // width: 100%;
        // position: fixed;
        // text-align: center;
        // // bottom: 20px;
        // bottom: 10px;
        // padding: 5px;
        // z-index: 1001;

        margin: 0;
        width: 50px;
        height: 50px;
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1001;

        
    }
}

.nav-wrapper {
  @include sm {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

}

.nav-second-nav {
    // background: #fafafa;
    position: fixed;
    top: 120px;
    // top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s;
    @include md {
      top: 80px;
    }
}

.nav-menu-ul {
    text-align: left;
    justify-content: center;
    @include sm {
      text-align: center;
    }
    li {
        padding: 10px;
        a {
            color: $basic-color;
        }
    }
}

// Before Click

.nav-toggle {
    display: block;
    position: relative;
    width: 1.75rem;
    height: 1.5rem;
    background: $basic-color;
}

.nav-toggle i {
    display: block;
    width: 100%;
    height: 1px;
    justify-self: center;
    background-color: $background-basic;
    position: absolute;
    transition: transform .5s, opacity .5s;
}

.nav-toggle i:nth-child(1) {
    top: 5px;
    // width: 50%;
    // margin: 2px;
}

.nav-toggle i:nth-child(2) {
    top: 5px;
    bottom: 5px;
    margin: auto;
    // display: none;
}

.nav-toggle i:nth-child(3) {
    bottom: 5px;
    // width: 50%;
}

// After Click

.nav-toggle.show i:nth-child(1) {
    transform: translateY(3px) rotate(-45deg);
}

.nav-toggle.show i:nth-child(2) {
    opacity: 0;
}

.nav-toggle.show i:nth-child(3) {
    transform: translateY(-10px) rotate(45deg);
}

.nav-second-nav.show {
    opacity: 1;
    // background: cornflowerblue;
    background: #fafafa;
    // background: $basic-color;
    visibility: visible;
    // z-index: 5;
}

/*=============================
.btn-trigger
=============================*/
.btn-trigger {
    position: relative;
    width: 34px;
    height: 24px;
    // width: 40px;
    // height: 44px;
    cursor: pointer;
    @include sm {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .btn-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    // width: 75%;
    height: 4px;
    background-color: $basic-color;
    border-radius: 4px;
  }
  .btn-trigger, .btn-trigger span {
    display: inline-block;
    transition: all .5s;
    box-sizing: border-box;
  }
  .btn-trigger span:nth-of-type(1) {
    top: 0;
  }
  .btn-trigger span:nth-of-type(2) {
      top: 10px;
    // top: 20px;
  }
  .btn-trigger span:nth-of-type(3) {
    bottom: 0;
  }

 /*=============================
#btn17
=============================*/
#btn17::after {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    content: '';
    // width: 84px;
    // height: 84px;
    width: 64px;
    height: 64px;
    margin: -36px 0 0 -36px;
    // margin: -45px 0 0 -45px;
    border-radius: 50%;
    border: 4px solid rgba($basic-color, 0);
    // border: 4px solid rgba(255, 255, 255, 0);
    transition: all .75s;
    @include sm {
      width: 50px;
      height: 50px;
      margin: -30px 0 0 -30px;
    }
  }
  #btn17.active span:nth-of-type(1) {
    -webkit-transform: translateY(10px) rotate(45deg);
    transform: translateY(10px) rotate(45deg);
    // -webkit-transform: translateY(20px) rotate(45deg);
    // transform: translateY(20px) rotate(45deg);
  }
  #btn17.active span:nth-of-type(2) {
    left: 60%;
    opacity: 0;
    -webkit-animation: active-btn17-bar02 .8s forwards;
    animation: active-btn17-bar02 .8s forwards;
  }
  @-webkit-keyframes active-btn17-bar02 {
    100% {
      height: 0;
    }
  }
  @keyframes active-btn17-bar02 {
    100% {
      height: 0;
    }
  }
  #btn17.active span:nth-of-type(3) {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
    // -webkit-transform: translateY(-20px) rotate(-45deg);
    // transform: translateY(-20px) rotate(-45deg);
  }
  #btn17.active::after {
    border: 4px solid $basic-color;
  }
  
  .test {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    // background: red;
  }