.section-about {
    background: $background-basic;
    // width: 100vw;
    padding: 5vh 10vw;
}

.section-works {
    background: $background-basic;
    width: 100vw;
}

.section-contact {
    background: #fff;
    height: 100vh;
}