#skills-all {
    height: 100vh;
    margin-top: 100px;
    // padding: 5vh 10vw 5vh;
    color: $basic-color;
    font-family: $font-family-basic;
    @include md {
        // padding-top: 85px;
    }
    @include sm {
        // padding-top: 85px;
    }
}

#skills {
    h1 {
        font-size: 36px;
        font-weight: bold;
        text-align: center;
        padding: 10vh 5vw;
        @include xxl {
            font-size: 36px;
            // padding: 5vh 0;
        }
        @include xl {
            font-size: 36px;
            // padding: 5vh 0;
        }
        @include lg {
            font-size: 20px;
            // padding: 5vh 0;
        }
        @include md {
            margin-top: 285px;
            font-size: 20px;
            padding: 5vh 0;
        }
        @include sm {
            font-size: 18px;
            padding: 5vh 0;
        }
        
    }
}

.skills-icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
        i {
            transition: .5s;
            @include xxl {
                padding: 20px;
                font-size: 24px;
            }
            @include xl {
                padding: 20px;
                font-size: 24px;
            }
            @include md {
                padding: 15px;
                font-size: 20px;
            }
            @include sm {
                padding: 10px;
                font-size: 18px;
            }
                &:hover {
                    transform: scale(1.5);
                }
            
        }
}
/*==============================
            icons
==============================*/
.fa-html5 {
    &:hover {
        color: #E44D26;
    }
}

.fa-css3-alt {
    &:hover {
        color: #3573B5;
    }
}

.fa-sass {
    &:hover {
        color: #cd6799;
    }
}

.fa-js-square {
    &:hover {
        color: #f0d64f;
    }
}

.fa-react {
    &:hover {
        color: #61dbfb;
    }
}

.fa-git-alt {
    &:hover {
        color: #f1502f;
    }
}

.fa-adobe {
    &:hover {
        color: #E63523;
    }
}

.fa-smile {
    &:hover {
        color: #f0d64f;
    }
}

.skills-details {
    @include xxl {
        padding-top: 10vh;
        padding-bottom: 10vh;
    }
    @include xl {
        padding-top: 10vh;
        padding-bottom: 10vh;
    }

    @include md {
        padding-top: 10vh;
        padding-bottom: 10vh;
    }
    @include sm {
        padding-top: 10vh;
        padding-bottom: 10vh;
    }
}

.skills-detail {
    h3 {
        color: #fff;
        text-align: center;
        background: $basic-color;

        @include xxl {
            padding: 10px;
            width: 30%;
            margin: 30px auto;
        }
        @include xl {
            padding: 10px;
            width: 30%;
            margin: 25px auto;
        }
        @include sm {
            padding: 5px;
            width: 60%;
            margin: 15px auto;
        }

    }
    p {
        text-align: center;
    }
}