#skills-all {
    padding: 100px 10vw 5vh;
    color: $basic-color;
}

#skills {
    h1 {
        text-align: center;
        @include lg {
            font-size: 20px;
            padding: 5vh 0;
        }
        @include md {
            font-size: 20px;
            padding: 5vh 0;
        }
        @include sm {
            font-size: 18px;
            padding: 5vh 0;
        }
        
    }
}

.skills-icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
        i {
            @include md {
                padding: 15px;
                font-size: 20px;
            }
            @include sm {
                padding: 10px;
                font-size: 18px;
            }
            
        }
}

.skills-details {
    @include md {
        padding-top: 10vh;
        padding-bottom: 10vh;
    }
    @include sm {
        padding-top: 10vh;
        padding-bottom: 10vh;
    }
}

.skills-detail {
    h3 {
        color: #fff;
        text-align: center;
        background: $basic-color;
        padding: 5px;
        width: 60%;
        margin: 15px auto;
    }
    p {
        text-align: center;
    }
}