#skills-all {
    margin-top: 100px;
    padding: 120px 10vw;
    color: $basic-color;
    font-family: $font-family-basic;
    @include md {
        padding-top: 120px;
    }
    @include sm {
        padding-top: 120px;
    }
}

#skills {
    h1 {
        font-size: 36px;
        font-weight: bold;
        text-align: center;
        padding: 10vh 0;
        @include xxl {
            font-size: 36px;
        }
        @include xxl {
            font-size: 36px;
        }
        @include lg {
            font-size: 20px;
        }
        @include md {
            font-size: 28px;
            padding: 5vh 0;
        }
        @include sm {
            font-size: 24px;
        }
        
    }
}

.skills-icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include sm {
        margin: 0 auto;
        max-width: 250px;
    }
        i {
            transition: .5s;
            @include xxl {
                padding: 20px;
                font-size: 48px;
            }
            @include xl {
                padding: 20px;
                font-size: 40px;
            }
            @include md {
                padding: 15px;
                font-size: 24px;
            }
            @include sm {
                padding: 10px;
                font-size: 24px;
            }
                // &:hover {
                //     transform: scale(1.5);
                // }
            
        }
}
/*==============================
            icons
==============================*/
.fa-html5 {
    color: #E44D26;
}

.fa-css3-alt {
    color: #3573B5;
}

.fa-sass {
    color: #cd6799;;
}

.fa-js-square {
    color: #f0d64f;
}

.fa-react {
    color: #61dbfb;
}

.fa-wordpress {
    color: #00669e;
}

.fa-git-alt {
    color: #f1502f;
}

.fa-docker {
    color: #2189e6;
}

.fa-aws {
    color: #ff9124;
}

.fa-adobe {
    color: #E63523;
}

.fa-smile {
    &:hover {
        color: #f0d64f;
    }
}

.skills-details {
    @include xxl {
        padding-top: 5vh;
        padding-bottom: 5vh;
    }
    @include xl {
        padding-top: 5vh;
        padding-bottom: 5vh;
    }

    @include md {
        padding-top: 5vh;
        padding-bottom: 5vh;
    }
    @include sm {
        padding-top: 5vh;
        padding-bottom: 5vh;
    }
}

.skills-detail {
    @include md {
        max-width: 350px;
        margin: 0 auto;
    }
    @include sm {
        max-width: 250px;
        margin: 0 auto;
    }
    h3 {
        color: #fff;
        text-align: center;
        background: $basic-color;

        @include xxl {
            padding: 10px;
            width: 30%;
            margin: 30px auto;
        }
        @include xl {
            padding: 10px;
            width: 30%;
            margin: 25px auto;
        }
        @include sm {
            padding: 5px;
            width: 60%;
            margin: 15px auto;
        }

    }
    p {
        text-align: center;
    }
}

/*=============================
           TOOL TIP
=============================*/

[tooltip] {
    position: relative; /* opinion 1 */
  }

  [tooltip]::before,
[tooltip]::after {
  text-transform: none; /* opinion 2 */
  font-size: 16px; /* opinion 3 */
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}
[tooltip]::before {
  content: '';
  border: 5px solid transparent; /* opinion 4 */
  z-index: 1001; /* absurdity 1 */
}
[tooltip]::after {
  content: attr(tooltip);
  min-width: 15px;
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px 10px;
//   padding: 1ch 1.5ch;
  border-radius: 5px;
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
  background: $basic-color;
  color: #fff;
  z-index: 1000; /* absurdity 2 */
}

[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {
  display: none !important;
}

/* FLOW: DOWN */
[tooltip][flow^="down"]::before {
    top: 100%;
    border-top-width: 0;
    border-bottom-color: $basic-color;
  }
  [tooltip][flow^="down"]::after {
    top: calc(100% + 5px);
  }
  [tooltip][flow^="down"]::before,
  [tooltip][flow^="down"]::after {
    left: 50%;
    transform: translate(-50%, .5em);
  }

  /* KEYFRAMES */
@keyframes tooltips-vert {
    to {
      opacity: .9;
      transform: translate(-50%, 0);
    }
  }
  
  @keyframes tooltips-horz {
    to {
      opacity: .9;
      transform: translate(0, -50%);
    }
  }
  
  /* FX All The Things */ 
  [tooltip]:not([flow]):hover::before,
  [tooltip]:not([flow]):hover::after,
  [tooltip][flow^="down"]:hover::before,
  [tooltip][flow^="down"]:hover::after {
    animation: tooltips-vert 300ms ease-out forwards;
  }
  
  [tooltip][flow^="left"]:hover::before,
  [tooltip][flow^="left"]:hover::after,
  [tooltip][flow^="right"]:hover::before,
  [tooltip][flow^="right"]:hover::after {
    animation: tooltips-horz 300ms ease-out forwards;
  }